@model _21_july_assignment.Models.Employee

@{
    ViewData["Title"] = "Employee Registration";
}

<h2>Employee Registration</h2>

<form asp-action="Index" method="post">

    <div>
        <label>Employee ID</label>
        <input asp-for="EmployeeId" class="form-control" />
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>

    <br />

    <div>
        <label>Employee Name</label>
        <input asp-for="EmployeeName" class="form-control" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>

    <br />

    <div>
        <label>Department</label>
        <input asp-for="Department" class="form-control" />
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <br />

    <div>
        <label>Salary</label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <br />

    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Register Employee
    </button>

</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}