@model _21_july_assignment.Models.Employee

<h2 style="color:green">
    Employee Added Successfully
</h2>

<hr />

<h4>Employee Name : @Model.EmployeeName</h4>

<h4>Department : @Model.Department</h4>

<br />

<a asp-controller="Department"
   asp-action="Index"
   class="btn btn-success">
    View Department Details
</a>