@model _21_july_assignment.Models.Department

<h2>Department Details</h2>

<table class="table table-bordered">

    <tr>
        <th>Department Name</th>
        <td>@Model.DepartmentName</td>
    </tr>

    <tr>
        <th>Department Head</th>
        <td>@Model.DepartmentHead</td>
    </tr>

    <tr>
        <th>Head Contact Number</th>
        <td>@Model.HeadContactNumber</td>
    </tr>

    <tr>
        <th>Head Email</th>
        <td>@Model.HeadEmail</td>
    </tr>

</table>